modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"

[workflows]

[deployment]
run = ["sh", "-c", "npm install discord.js firebase-admin node-cron dotenv && node index.js"]

[[ports]]
localPort = 8080
externalPort = 80
